

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
    width: 100%;
    height: 100%;
    z-index: 0;
}

table {
  white-space: nowrap;
  margin: 0;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}
table thead th {
  padding: 12px 0;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: right;
}
table td {
  width: 10px;
  border-bottom: 1px solid #222430;
}

table tbody td {
  position: relative;
  text-align: right
}

table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}
table tbody td:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  text-align: start;
}
thead th:nth-child(1) {
  width: 15%;
  text-align: left;
}

thead th:nth-child(2){
  width: 10%
}
thead th:nth-child(3),
thead th:nth-child(4),
thead th:nth-child(5) {
  width: 8%;
}

thead th:nth-child(7)
thead th:nth-child(6),
thead th:nth-child(8){
  width: 17%
}

@media (max-width: 1023px) {
  thead th:nth-child(3),
  thead th:nth-child(4),
  thead th:nth-child(5) {
    width: calc(8% + 2.5%);
  }

  thead th:nth-child(6),
  thead th:nth-child(7),
  thead th:nth-child(8) {
    width: calc(17% - 2.5%);
  }
}

@layer components{
    .header-icon{
        @apply h-6 w-6
}
    .menu-icon{
        @apply relative flex items-center justify-center h-8 w-8 px-2 rounded-full text-white
    }
    .arrow-up{
         @apply w-0 h-0 border-l-8 border-l-transparent border-b-8  border-r-8 border-r-transparent;
    }
    .sun-icon{
        @apply w-full h-full text-gray-100 bg-dark-600 rounded-lg p-1.5
    }
    .moon-icon{
        @apply w-full h-full text-black bg-slate-50 rounded-lg p-1.5
    }
    .social-icon{
        @apply w-6 h-6 text-slate-600 dark:text-slate-400
    }
    .currencySelector{
        @apply py-2 w-full h-full lg:max-w-fit bg-gray-300 rounded-md outline-none text-xs text-black cursor-pointer
    }
    .swiper{
        @apply w-full h-full rounded-lg
    }
    .trendingSlides{
        @apply flex flex-col justify-center gap-4 bg-white dark:bg-dark-500 px-6
    }
}